 svg {
 	box-sizing: border-box;
 	max-width:  40px;
 	max-height: 27px;
 }
 .item-div2 {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	letter-spacing: 2px;
 }
.div2 {
	display: flex;
	align-items: center;
 	justify-content: space-around;
 	margin: 10px 0px;
 	text-transform: uppercase;

}
.item-div2 > .text {
	font-size: 1.8rem;
}